/* AW Contact Form Custom Styles */
.aw-contact-form { font-family: 'Open Sans', sans-serif; }
.aw-contact-form label, .aw-contact-form input, .aw-contact-form textarea { display: block; margin: 10px 0; }
.aw-contact-form label { 
	font-size: 16px;
	letter-spacing: 0;
}
/* Border animation for select and input */
.aw-contact-form input[type="text"] {
	padding: 10px;
	width: 223px;
	-webkit-transition: all 0.30s ease-in-out;
	-moz-transition: all 0.30s ease-in-out;
	-ms-transition: all 0.30s ease-in-out;
	-o-transition: all 0.30s ease-in-out;
	outline: none;
}
.aw-contact-form select {
	-webkit-transition: all 0.30s ease-in-out;
	-moz-transition: all 0.30s ease-in-out;
	-ms-transition: all 0.30s ease-in-out;
	-o-transition: all 0.30s ease-in-out;
	outline: none;
}
.aw-contact-form input[type="text"]:focus,
.aw-contact-form select:focus { 
	border: 1px solid rgba(0, 0, 0, 1) !important;
}
#cf_message { width: 90%; padding: 10px; }
/* Media query and properties for smaller screens */
#cf_send { display: inline-block; }
@media screen and (max-width: 600px) {
	.grid2col, 
	.grid2col .column:first-of-type,
	.grid2col:nth-of-type(3) .row:first-of-type,
	.grid2col .column:first-of-type { width: 100% !important; display: block !important;}
}
@media screen and (max-width: 1201px) {
	.grid2col:first-of-type .row:last-of-type div:nth-of-type(2) { width: 62%; }	
}
@media screen and (max-width: 1000px) {
	.grid2col:first-of-type .row:last-of-type div:nth-of-type(2) { width: 100%; }	
}
.grid2col { 
	width: 100%;
	display: inline-flex;
	display: -webkit-inline-flex;
	display: -moz-inline-flex;
	display: -ms-inline-flex;
	border-bottom: 1px solid #d2d2d2;
}
.grid2col:first-of-type,
.grid2col:nth-of-type(2) { margin-bottom: 60px; }
.grid2col:nth-of-type(3) { border-bottom: 0 !important; }
.grid2col .column:first-of-type {
	width: 10%;
	display: inline-block;
}
.grid2col .column:last-of-type {
	padding-left: 15px;
	width: 89%;
	display: inline-block;
}
.grid2col .column:first-of-type h2 {
	margin-top: 10px;
	font-size: 17px;
	font-weight: 700;
	font-style: italic;
	letter-spacing: 0;
	text-transform: none;
}
.grid2col .column .row div { 
	display: inline-block;
	position: relative;
	overflow: hidden;
}
.grid2col .column .row div input, .grid2col .column .row div select {
	height: 45px;
	font-size: 20px; 
	background-color: #fff;
	border: 1px solid #cbcbcb;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	-o-border-radius: 0;
	-ms-border-radius: 0;
	border-radius: 0;
}
/* Using nth to target row divs */
.grid2col .row:first-of-type { margin-bottom: 29px !important; }
.grid2col .row:nth-of-type(2) { margin-bottom: 13px !important; }
.grid2col:first-of-type .row:first-of-type div:first-of-type,
.grid2col:first-of-type .row:first-of-type div:nth-of-type(2),
.grid2col:first-of-type .row:last-of-type div:first-of-type,
.grid2col:first-of-type .row:last-of-type div:nth-of-type(2),
.grid2col:nth-of-type(2) .row:first-of-type div:nth-of-type(2),
.grid2col:nth-of-type(2) .row:first-of-type div:nth-of-type(3),
.grid2col:nth-of-type(2) .row:last-of-type div:first-of-type,
.grid2col:nth-of-type(3) .row:first-of-type div:first-of-type,
.grid2col:nth-of-type(3) .row:first-of-type div:nth-of-type(2) { margin-right: 15px; }
.grid2col:first-of-type .row:last-of-type div:nth-of-type(3) { margin-right: -35px; }
.grid2col:first-of-type .row:last-of-type div:nth-of-type(4) { margin-right: 5px; }
.grid2col:nth-of-type(2) .row:first-of-type div:first-of-type { margin-right: -44px; }
.grid2col:nth-of-type(3) .row:first-of-type {
	display: inline-flex;
	display: -webkit-inline-flex;
	display: -moz-inline-flex;
	display: -ms-inline-flex;
}
#cf_gender,
#cf_state,
#cf_tobacco,
#cf_policy_amount,
#cf_how_many_years { width: 223px; }
#cf_feet,
#cf_inches { width: 105px; }
select#cf_feet,
select#cf_inches{
   color: #cbcbcb;
   font-family: 'Open Sans', sans-serif;
   font-size: 16px;
   font-weight: 300;
}
select#cf_feet,
select#cf_inches {
	padding: 10px;
	background-position: 86px 16px;
}
#cf_month,
#cf_day { width: 55px; }
#cf_year { width: 92px; }
/* Validation Styles */
/* Background image styles for error and valid classes */
.aw-contact-form input.error {
	background-image: url('/wp-content/plugins/aw-contact-form/img/error.jpg') !important;
	background-position: 204px 16px;
	background-size: 13px 13px;
	background-repeat: no-repeat;
	border: 1px solid #ff6463 !important;
}
#cf_month,
#cf_day {
	background-position: 38px 16px !important;
}
#cf_year {
	background-position: 72px 16px !important;
}
.aw-contact-form input.valid {
	background-image: url('/wp-content/plugins/aw-contact-form/img/valid.jpg') !important;
	background-position: 204px 16px;
	background-size: 17px 13px;
	background-repeat: no-repeat;
	border: 1px solid #8ac348 !important;
}
.aw-contact-form label.error { display: none !important; }
.aw-contact-form input.ignore { border: 1px solid #cbcbcb !important; }
/* Select styles */
.aw-contact-form select {
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	background-image: url('/wp-content/plugins/aw-contact-form/img/down-arrow.jpg') !important;
	background-position: 204px 16px;
	background-size: 12px 7px;
	background-repeat: no-repeat;
	border: 1px solid #cbcbcb !important;
}
.aw-contact-form select option {
	border: 1px solid #cbcbcb;
	border-radius: 0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	-ms-border-radius: 0;
}
/* Phone note, check box and submit styles */
.aw-contact-form .phoneNote { 
	width: 223px;
	font-size: 10px;
	line-height: 13px;
}
.aw-contact-form .submitCheckBox { 
	top: -5px;
	left: 160px;
	position: absolute;
	display: inline-block;
	width: 250px;
}
@media screen and (max-width: 480px) {
	.aw-contact-form .submitCheckBox { 
		left: 130px;
	}	
}
/* Custom checkbox */
.aw-contact-form input[type="checkbox"] {
	display: none;
}
.aw-contact-form input[type="checkbox"] + label {
	background-color: #FFF;
	border: 1px solid #C1CACA;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
	padding: 9px;
	border-radius: 0;
	display: inline-block;
	position: relative;
	margin-top: 5px;
	margin-right: 15px;
	float: left;
	cursor: pointer;
	width: 20px;
	height: 20px;
	font-size: 1.5em;
}
.aw-contact-form input[type="checkbox"] + label:active {
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
}
.aw-contact-form input[type="checkbox"]:checked + label {
	background-color: #fff;
	border: 1px solid #92A1AC;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05), inset 15px 10px -12px rgba(255, 255, 255, 0.1);
	color: #243441;
}
.aw-contact-form input[type="checkbox"]:checked + label:after {
	font-family: FontAwesome;
	content: '\f00c';
	position: absolute;
	top: -4px;
	left: -2px;
	color: #000;
	width: 100%;
	text-align: center;
	font-size: 22px;
	padding: 1px 0 0 0;
	vertical-align: text-top;
}
.aw-contact-form input[type="checkbox"] + label:after {
	top: 0;
	left: 0;
	padding: 17px 0 0 0;
}
.aw-contact-form .submitCheckBox p {
	font-size: 12pt;
	color: #3d3d3d;
}
.aw-contact-form .submitCheckBox p a {
	font-size: 12pt;
	color: #559cdd;
	text-decoration: none;
}
/* Aligning the div for the submit button */
.footerItems { 
	width: 100%;
	position: relative;
}
.aw-contact-form .submitButton { display: inline-block; }
.aw-contact-form .submitButton input { margin: 0 !important; }
/* Placeholder text */
::-webkit-input-placeholder {
   color: #cbcbcb;
   font-family: 'Open Sans', sans-serif;
   font-size: 16px;
   font-weight: 300;
}

:-moz-placeholder { /* Firefox 18- */
   color: #cbcbcb;
   font-family: 'Open Sans', sans-serif;
   font-size: 16px;
   font-weight: 300;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #cbcbcb;
   font-family: 'Open Sans', sans-serif;
   font-size: 16px;
   font-weight: 300;  
}

:-ms-input-placeholder {  
   color: #cbcbcb;
   font-family: 'Open Sans', sans-serif;
   font-size: 16px;
   font-weight: 300;  
}
