/* AW Contact Form Custom Styles */
.aw-contact-form label, .aw-contact-form input, .aw-contact-form textarea { display: block; margin: 10px 0; }
.aw-contact-form label { font-size: larger; }
.aw-contact-form input { padding: 5px; }
.aw-contact-form input:active, .aw-contact-form input:hover { border: 1px solid #000; }
#cf_message { width: 90%; padding: 10px; }
#cf_send { padding: 5px 10px; }

@media only screen and (max-width: 600px) {
	.grid2col, .grid2col .column:first-of-type { display: block !important; }
}
.grid2col { 
	width: 100%;
	display: inline-flex;
	display: -webkit-inline-flex;
	border-bottom: 1px solid #d2d2d2;
}
.grid2col:nth-of-type(3) { border-bottom: 0 !important; }
.grid2col .column:first-of-type {
	width: 19%;
	display: inline-block;
}
.grid2col .column:last-of-type {
	padding-left: 15px;
	width: 81%;
	display: inline-block;
}
.grid2col .column:first-of-type h2 {
	margin-top: 10px;
	text-transform: none;
}
.grid2col .column .row div { display: inline-block; }
.grid2col .column .row div input, .grid2col .column .row div select {
	height: 50px;
	font-size: 20px; 
	background: #fff url() top left no-repeat;
	border: 1px solid #cbcbcb;
}
.grid2col .row { margin-bottom: 8px !important; }
.grid2col:first-of-type .row:first-of-type div:first-of-type,
.grid2col:first-of-type .row:first-of-type div:nth-of-type(2) { margin-right: 20px; }
.grid2col:first-of-type .row:last-of-type div:nth-of-type(3) { margin-right: -22px; }
.grid2col:first-of-type .row:nth-of-type(2) div:nth-of-type(4) { margin-right: 16px; }
#cf_gender,
#cf_state { width: 277px; }