/* AW Contact Form Custom Styles */
.aw-contact-form label, .aw-contact-form input, .aw-contact-form textarea { display: block; margin: 10px 0; }
.aw-contact-form label { font-size: larger; }
.aw-contact-form input { padding: 5px; }
#cf_message { width: 90%; padding: 10px; }
#cf_send { padding: 5px 10px; }

.grid2col { 
	width: 100%;
	display: inline-flex;
	display: -webkit-inline-flex;
}
.grid2col .column:first-of-type {
	width: 19%;
	display: inline-block;
}
.grid2col .column:last-of-type {
	width: 79%;
	display: inline-block;
}
.grid2col .column .row div { display: inline-block; }